* {
	font-family: sans-serif;
}
a {
	color: blue;
	text-decoration: none;
}

body {
	padding: 20px;
	margin: auto;
}
main, footer {
	margin: 0 0 50px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 20px 0;
}
tr {
	border: solid lightgrey;
	border-width: 1px 0 1px 0;
	vertical-align: top;
}
th, td {
	padding: 10px;
	text-align: left;
}

input, textarea, button {
	font-size: 1em;
	margin: 0 10px 0 0;
	padding: 5px;
}

.error {
	background-color: red;
	color: white;
	opacity: 0.5;
}
.success {
	background-color: green;
	color: white;
	opacity: 0.5;
}

.is-flex {
	display: flex;
	justify-content: space-between;
}
.sidebar {
	width: 30%;
}
.main {
	width: 70%;
}
.term {
	cursor: pointer;
}
.error {
	background-color: red;
	color: white;
	opacity: 0.5;
	width: fit-content;
	padding: 10px;
}